/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/12/2014, 05:00:05
    Author     : José Renato & Willian Soares
*/
/*body{
    alignment-adjust: central;
    margin:0 auto;
    padding:0;
    list-style:none;
    text-decoration:none;
    vertical-align:middle;
    border : 2px solid black;
}

#quadro{
    alignment-adjust: central;
    margin: auto;
    border: solid 1px blue;
    width: 50em;
    height: 30em;
    //b
    ackground-image: url('../img/light-novel-quadrinize.jpg');
    background-repeat: no-repeat;
    margin-bottom: auto;
}
#dialogo{
    border: 1px solid red;
    margin: auto;
    height: 20%;
    margin-bottom: auto;
}
#img-dialogo{
    height: 100%;
    width: 20%;
}*/

body {
    height: 105%;
}
#img-fundo{
    border: 1px solid #333;
}

.opcao{
    height: 75px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
}
.escolha-holder{
    height: 75px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 16px;
    line-height: 1.42857;
    padding: 6px 12px; 
}
.escolha{
    background: #ccc;
    border-radius: 4px;
    border: 1px solid #555;
    width: 158px;
    height: 71px; 
    margin-bottom: 0px; 
    margin-left: 10px; 
    margin-top: -4px;
}

#escolha-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

#escolha-homem{
    border: 2px solid #00ADEF;
}
#escolha-mulher{
    border: 2px solid #ED008C;
}
#homem{
    background: #00ADEF;
    font-size: 50px;
}
#mulher{
    background :#ED008C;
    font-size: 50px;
}
#drop{
    border: 1px solid black;
    height: 150px;
    width: 200px;
}

html body div.container div#quadro.center-block div#dialogo div.row div.form-group.col-md-2.col-md-offset-5 input.form-control{
    font-size: 16px;
    height: 40px;
}   